<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/article.css" />
</th:block>

<div layout:fragment="content" id="bbs"
	th:if="${#strings.isEmpty(errorMessage)}">
	<div id="bbsArticle">

		<div id="bbsArticle_header">
			<p th:text="${trip.subject}"></p>
		</div>

		<div class="bbsArticle_bottomLine">
			<dl>
				<dt>작성자</dt>
				<dd th:text="${trip.name}"></dd>
				<dt>주소</dt>
				<dd th:text="${trip.address}"></dd>
			</dl>
		</div>

		<div class="bbsArticle_bottomLine">
			<dl>
				<dt>등록일</dt>
				<dd th:text="${trip.created}"></dd>
				<dt>조회수</dt>
				<dd th:text="${trip.hitCount}"></dd>
			</dl>
		</div>

		<div id="bbsArticle_content">
			<table width="600" border="0">
				<tr>
					<td style="padding-left: 20px 80px 20px 62px;" valign="top"
						height="200">
							<img th:src="@{${trip.img}}" width="400" height="300">
							<br>
							<br>
						<p rows="12" cols="82" name="content" style="border: none" class="boxTA" th:text="${trip.content}"></p>
						
					</td>
				</tr>
			</table>
		</div>

	</div>

	<div class="bbsArticle_noLine" style="text-align: right"></div>

	<div id="bbsArticle_footer">
		<div id="leftFooter">
			<input type="button" value=" 수정 " class="btn2"
				th:onclick="|location.href='updated?num=@{${trip.num}}&@{${params}}'|" />
			<input type="button" value=" 삭제 " class="btn2"
				th:onclick="|location.href='deleted_ok?num=@{${trip.num}}&@{${params}}'|" />
		</div>
		<div id="rightFooter">
			<input type="button" value=" 리스트 " class="btn2"
				th:onclick="|location.href='list?@{${params}}'|" />
		</div>
	</div>
</div>
<th:block layout:fragment="script">
	<script th:inline="javascript">
			var errorMessage = [[${errorMessage}]];
			if(errorMessage != null){
				alert(errorMessage);
			}
		</script>
</th:block>


</html>