<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/list.css" />

</th:block>

<div layout:fragment="content" id="bbsList">
	<div id="bbsList_header">
		<div id="leftHeader">
			<form action="/list" method="post" name="searchForm">
				<select name="searchKey" class="selectField">
					<option value="subject">제목</option>
					<option value="name">작성자</option>
					<option value="content">내용</option>
				</select> <input type="text" name="searchValue" class="textField" /> <input
					type="button" value=" 검 색 " class="btn2" onclick="sendIt();" />
			</form>
		</div>
		<div id="rightHeader">
			<input type="button" value=" 작성하기 " class="btn2"
				onclick="javascript:location.href='/created';" />
		</div>
	</div>

	<div id="bbsList_list">
		<table id="list_table">
			<thead id="list_head">
				<div id="lists_box" th:if="${#lists.size(lists)} > 0"
					th:each="trip:${lists}">
					<a class="card_box" th:href="|@{${articleUrl}}&num=@{${trip.num}}|">
						<div id="row_box">
							<div class="">
								<div class="card shadow-sm">
									<img id="card_img" th:src="@{${trip.img}}">
									<div class="card-body">
										<p class="card-text" th:text="${trip.subject}"></p>
										<div class="d-flex justify-content-between align-items-center">
											<small class="text-body-secondary" th:text="${trip.created}"></small>
											<small class="text-body-secondary" style="text-align: right;"
												th:text="${trip.name}"></small>
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</thead>
		</table>
	</div>
	<div id="lists_count">
		<tr th:if="${#lists.size(dataCount)} > 0">
			<td colspan="5" id="footer"><a th:utext="${pageIndexList}"></a>
			</td>
		</tr>
		<tr th:if="${#lists.size(dataCount)} < 0">
			<td colspan="5">등록된 게시물이 없습니다.</td>
		</tr>
	</div>
</div>
<th:block layout:fragment="script">
	<script th:inline="javascript">
			var errorMessage1 = [[${param.errorMessage}]]; //get 방식의 데이터를 가져올 수 있다.
			var errorMessage2 = [[${errorMessage}]]; //post 방식의 데이터를 가져올 수 있다.
			
			if(errorMessage != null){
				alert(errorMessage1);
			}
			
			if(errorMessage != null){
				alert(errorMessage2);
			}
			
			function sendIt(){
				var f = document.searchForm;
				var str = f.searchValue.value;
				str = str.trim();
				
				if(!str){
					alert("검색어를 입력하세요.");
					f.searchValue.focus();
					return;
				}
				
				f.submit();
			}
		</script>
</th:block>

</html>