<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/created.css" />
</th:block>

<div layout:fragment="content" id="bbs">
	<form action="/updated_ok" method="post" name="myForm" enctype="multipart/form-data">
		<div id="bbsCreated">

			<div class="bbsCreated_bottomLine">
				<dl>
					<dt>제&nbsp;&nbsp;&nbsp;&nbsp;목</dt>
					<dd>
						<input type="text" name="subject" size="60" maxlength="100" class="boxTF" th:value="${trip.subject}" />
					</dd>
				</dl>
			</div>

			<div class="bbsCreated_bottomLine">
				<dl>
					<dt>작 성 자</dt>
					<dd>
						<input type="text" name="name" size="35" maxlength="20" class="boxTF" th:value="${trip.name}" />
					</dd>
				</dl>
			</div>

			<div class="bbsCreated_bottomLine">
					<dl>
						<dt>주 소</dt>
						<dd>
							<input type="text" name="address" size="35" maxlength="20" class="boxTF" th:value="${trip.address}" />
						</dd>
					</dl>
				</div>

			<div id="bbsCreated_content">
				<dl>
					<dt>내&nbsp;&nbsp;&nbsp;&nbsp;용</dt>
					<dd>
						<textarea rows="12" cols="63" name="content" class="boxTA" th:text="${trip.content}"></textarea>
					</dd>
				</dl>
			</div>
			
			<div class="bbsCreated_bottomLine">
					<dl>
						<dt>이 미 지</dt>
						<dd>
							<input type="file" name="img" size="35" />
						</dd>
					</dl>
				</div>


		</div>

		<div id="bbsCreated_footer">
			<!-- 수정하기를 누르면 post 방식으로 데이터가 전달되므로 기존의 get방식으로 사용하던 데이터들은 아래와 같이 넘겨준다. -->
			<input type="hidden" name="num" th:value="${trip.num}" />
			<input type="hidden" name="pageNum" th:value="${pageNum}" />
			<input type="hidden" name="searchKey" th:value="${searchKey}" />
			<input type="hidden" name="searchValue" th:value="${searchValue}" />

			<input type="button" value=" 수정하기 " class="btn2" onclick="sendIt();" />
			<input type="button" value=" 수정취소 " class="btn2"
			th:onclick="|location.href='list?@{${params}}'|" />
		</div>

	</form>
</div>
<th:block layout:fragment="script">
	<script th:inline="javascript">
		function sendIt() {
			var f = document.myForm; //폼 태그
			var str = f.subject.value; //제목에 입력된 값을 가져온다.
			str = str.trim(); //공백을 앞뒤로 없애준다.

			if (!str) {
				alert("제목을 입력하세요.");
				f.subject.focus();
				return;
			}

			str = f.name.value;
			str = str.trim();

			if (!str) {
				alert("이름을 입력하세요.");
				f.name.focus();
				return;
			}

			str = f.address.value;
			str = str.trim();

			if (!str) {
				alert("주소를 입력하세요.");
				f.address.focus();
				return;
			}

			str = f.content.value;
			str = str.trim();

			if (!str) {
				alert("내용을 입력하세요.");
				f.content.focus();
				return;
			}

			f.submit();

		}
	</script>
</th:block>

</html>